.name{
    color: #f56332;
    font-family: Arial;
}

.price{
    font-family: Arial;
}

.block{
    background: #ffffff;
    width: 666.5px;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.5);
}

.card{
    float: left;
    width: 200px;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    text-align: center;
    margin: 10px;
}

.card:first-child{
    border: none;
}

.card:last-child{
    border: none;
}

body{
    background-color: #50647c;
    text-align: center;
}

button{
    background-color: #f56332;
    color: #ffffff;
    border: none;
    font-size: 10px;
    padding: 5px 10px;
}





